/* this is for alternative titlebars and panels */

/*@define-color gtk_titlebar_bg_color mix(@gtk_bg_color,black,0.1);*/
@define-color gtk_titlebar_bg_backdrop_color mix(@gtk_titlebar_bg_color,black,0.07);
@define-color gtk_titlebar_fg_color @gtk_fg_color;
@define-color gtk_titlebar_button_color @gtk_button_color;

/*.titlebar entry selection,
.titlebar button.suggested-action{background-color: @gtk_selected_fg_color; color: @gtk_selected_bg_color;}

.titlebar button.suggested-action:disabled{background-color: alpha(@gtk_selected_fg_color,0.5);}*/
