[submodule "color"]
	path = modules/color
	url = https://github.com/andOrlando/color
[submodule "layout-machi"]
	path = modules/layout-machi
	url = https://github.com/xinhaoyuan/layout-machi
[submodule "bling"]
	path = modules/bling
	url = https://github.com/BlingCorp/bling
