[submodule "bling"]
	path = external/bling
	url = https://github.com/Kasper24/bling
[submodule "layout-machi"]
	path = external/layout-machi
	url = https://github.com/xinhaoyuan/layout-machi
[submodule "xml2lua"]
	path = external/xml2lua
	url = https://github.com/Kasper24/xml2lua
[submodule "json"]
	path = external/json
	url = https://github.com/Kasper24/json.lua
[submodule "dbus_proxy"]
	path = external/dbus_proxy
	url = https://github.com/Kasper24/lua-dbus_proxy
[submodule "async"]
	path = external/async
	url = https://github.com/Kasper24/async.lua
[submodule "filesystem"]
	path = external/filesystem
	url = https://github.com/Kasper24/lgi-async-extra
[submodule "lua-color"]
	path = external/lua-color
	url = https://github.com/Kasper24/lua-color
[submodule "awesome-treetile"]
	path = external/awesome-treetile
	url = https://github.com/guotsuan/awesome-treetile
