
/**********
 * button *
 **********/
button {
    padding: 8px;
    border: 1px solid @inactive;
    margin: 4px;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
    color: @fg_color;
}

button:focus {
    border: @active 1px solid;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

button:active {
    border-color: @color15;
    border-style: solid;
}

button.toggle:checked {
    background-color: @inactive;
}

button.toggle:checked:hover {
    background-color: @active;
}

button:disabled {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.1);
    border-style: dashed;
    color: mix(@text_color, transparent, 0.50);
}

button:active:disabled {

}

GtkLinkButton.button,
GtkLinkButton.button:focus,
GtkLinkButton.button:hover,
GtkLinkButton.button:active,
GtkLinkButton.button:focus:active,
GtkLinkButton.button:focus:hover {

}

button.radio:checked {
    color: @fg_color;
    background-color: shade(@selected_bg_color, 0.83);
}
