/***********
 * toolbar *
 ***********/
toolbar {
    padding: 4px;
    border-style: none;
    background-color: @tooltip_bg_color;
    background-image: none;
}

toolbar button, toolbar button.image-button {
    border-color: transparent;
    padding: 6px;
}

toolbar button:focus {
    border: @active 1px dashed;
}

toolbar button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

toolbar button:active {
    border-color: @color15;
}

toolbar:disabled {
    background-color: @bg_color;
}

/* menubar toolbars */
toolbar.menubar {
    -GtkToolbar-button-relief: normal;
}

linked entry:active,
linked entry:focus {
    box-shadow: inset 4px 0 @selected_bg_color;
}
