/*******
 * CSD *
 *******/
.titlebar {
    /* border-width: 5px; */
    border-style: solid;
    border-color: @tooltip_bg_color;
/*    border-image: linear-gradient(to left,
		shade(@selected_bg_color, 1.20) 25%,
		shade(@selected_bg_color, 1.05) 25%,
		shade(@selected_bg_color, 1.05) 50%,
		shade(@selected_bg_color, 0.90) 50%,
		shade(@selected_bg_color, 0.90) 75%,
		shade(@selected_bg_color, 0.75) 75%) 5 0 0 0/ 5px 0 0 0;*/
    background-image: none;
    background-color: @tooltip_bg_color;
    color: @fg_color;
    text-shadow: none;
}

/* this is the default titlebar that is added by GTK
 * when client-side decorations are in use and the application
 * did not set a custom titlebar.
 */
.titlebar.default-decoration {
    border: none;
    box-shadow: none;
}

.titlebar .title {
    font-weight: bold;
}

.titlebar {
	padding: 3px;
}

.titlebar:backdrop {
    background-image: none;
    background-color: @bg_color;
    color: mix(@fg_color, @bg_color, 0.4);
    text-shadow: none;
}

.titlebutton {
    padding: 4px;
    border-style: none;
    background-color: @button_normal_color;
    color: mix(@fg_color, @bg_color, 0.1);
    -gtk-icon-shadow: none;
}

.titlebar .titlebutton:hover,
.titlebar .titlebutton:hover:focus {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
    -gtk-icon-shadow: none;
}

.titlebar .titlebutton:active,
.titlebar .titlebutton:active:hover {
    background: none;
    color: shade(@selected_bg_color, 0.9);
    -gtk-icon-shadow: none;
    box-shadow: none;
}

.titlebar .right .titlebutton:first-child {
    background: none;
}
/*

.titlebar .right .titlebutton:last-child {
}

.titlebar .left .titlebutton:last-child {
    border-right: 1px solid shade(@toolbar_bg_color, 0.9);
}

.titlebar .left .titlebutton:first-child {
}
*/

.titlebar .titlebutton:backdrop {
    background-image: none;
    color: mix(@fg_color, @bg_color, 0.4);
    -gtk-icon-shadow: none;
}

.window-frame {
    background-image: none;
    border-width: 2px;
    border-style: solid;
    border-color: @bg_color;
    border-image: none;
    border-radius: 0;
    box-shadow: 0 3px 12px 2px alpha(black, 0.5);

    /* this is used for the resize cursor area */
    margin: 10px;
}

.window-frame:backdrop {
    border-width: 2px;
    border-color: @bg_color;
    border-image: none;
    box-shadow: 0 2px 7px 1px alpha(black, 0.5);
}

GtkWindow {
    color: @fg_color;
    background-color: @bg_color;
}

GtkPaned {
    background-color: @bg_color;
}

GtkEventBox {
    background-color: @bg_color;
}

GtkSeparator separator .separator.vertical.titlebutton {
    background-color: @selected_bg_color;
}
